* {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  color:rgb(201, 137, 64);
  background-color: rgb(253, 236, 217);
  margin:0;
  padding:0;
  box-sizing: border-box;
}

:root {
  --borders: 1px solid  rgb(201, 137, 64);
  --side-bar-size: 6rem;
  --top-nav-size: 6rem;
  --section-title-size: 10rem;
  --solid-color: rgb(255, 185, 106);
  --background-color: rgb(253, 236, 217);
  --hover-color:  rgb(255, 204, 146);
  --active-color:  rgb(249, 219, 185);
  --text-pop-subtle: 5px 5px 10px rgba(0, 0, 0, 0.09);
  --text-pop-not-subtle: 5px 5px 15px rgba(0, 0, 0, 0.281);
  --transition-time: .5s ease;
}

body {
  overflow-x: hidden;
}

html{
  scroll-behavior: smooth;
}

h1 { font-weight: 900; }
h2 { font-weight: 700; }
h3 { font-weight: 400; }
h4 { font-weight: 300; }

#root {
  display: flex;
  flex-direction: column;
  margin-left: var(--side-bar-size);
  margin-top: var(--top-nav-size);
  transition: margin var(--transition-time);
}

.hidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity var(--transition-time), visibility 0s linear 0.3s;
} 

.hidden.show {
  opacity: 1;
  visibility: visible;
  transition: opacity 10s;
}

@media screen and (max-width: 992px) {
  body {
    display: flex;
    flex-direction: column;
    margin-left: 0;
  }
  .main-body {
    flex-direction: column;
  }
  .main-body #about-me {
    display: flex;
    flex-direction: row;
  }
}

@media screen and (max-width: 768px) {

  .main-body #about-me {
    display: flex;
    flex-direction: column;
    margin-top:2rem;
  }

}