
* {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  color:rgb(201, 137, 64);
  background-color: rgb(253, 236, 217);
  margin:0;
  padding:0;
  box-sizing: border-box;
}

:root {
  --borders: 1px solid  rgb(201, 137, 64);
  --side-bar-size: 6rem;
  --top-nav-size: 6rem;
  --section-title-size: 10rem;
  --solid-color: rgb(255, 185, 106);
  --background-color: rgb(253, 236, 217);
  --hover-color:  rgb(255, 204, 146);
  --active-color:  rgb(249, 219, 185);
  --text-pop-subtle: 5px 5px 10px rgba(0, 0, 0, 0.09);
  --text-pop-not-subtle: 5px 5px 15px rgba(0, 0, 0, 0.281);
  
}

html{
  scroll-behavior: smooth;
}

h1 { font-weight: 900; }
h2 { font-weight: 700; }
h3 { font-weight: 400; }
h4 { font-weight: 300; }

#root {
  display: flex;
  flex-direction: column;
  margin-left: var(--side-bar-size);
  margin-top: var(--top-nav-size);
  transition: margin .2s ease;
}

header {
  width: calc(100% - var(--side-bar-size));
  position: fixed;
  top: 0;
  z-index: 999;
  transition: width .5s ease;
}


footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: var(--top-nav-size);
  width: 100%;
  border-top: var(--borders);
}



footer h4 {
  font-weight: 400;
  font-size: 15px;
}

.social-icons-footer{
  display: flex;
  align-items: center;
  justify-content: cener;
  padding-top: .5rem;
}

.social-icons-footer img {
  height: 40px;
  width: 40px;
  cursor: pointer;
  background-color: transparent;
}

.social-icons-footer img:hover {
  transition: .2s;
  transform: translate(-.1rem, -.1rem);
  opacity: 75%;
}

div {
  display: flex;
}


.anchor {
  content: '';
  display: block;
  height: var(--top-nav-size);
  margin-top: calc(var(--top-nav-size)* -1);
  visibility: hidden;
}

.banner {
  position: relative;
  width: 100%;
  height: 25vh;
  overflow: hidden;
  border-bottom: var(--borders);
}

.banner .video-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(4);
  width: 100%;
  height: 100%;
  opacity: 75%;
}

.banner .video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 50%;
}

.banner .text-box {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
  background-color: transparent;
}

.banner .text-box h1 {
  color:var(--solid-color);
  text-shadow: 3px 3px 2px rgb(90, 90, 90);
  font-size: 3rem;
  background-color: transparent;
}

.banner .text-box p {
  color: var(--solid-color);
  text-shadow: 3px 3px 2px rgb(90, 90, 90);
  font-size: 100;
  background-color: transparent;
}

.banner .video-container img {
  display: none;
}

.nav {
  text-decoration: none;
  padding: 5px 15px;
  cursor: pointer;
}

.nav:hover {
  transition: .2s;
  transform: translate(-.1rem, -.1rem);
  color:  var(--hover-color);
}

.nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: .5rem 2rem;
  cursor: pointer;
  white-space: nowrap;
  height: 100%;
  border-left: var(--borders);
  background-color: var(--solid-color);
  color: var(--background-color);
}

.nav-btn:hover{
  background-color: var(--hover-color);
  color: var(--background-color)
}

.nav-btn:active{
  background-color: var(--active-color);
  color:var(--solid-color);
}

.side-nav {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: var(--side-bar-size);
  position:fixed;
  top: 0;
  left: 0;
  z-index: 1;
  border-right: var(--borders);
  transition: width .5s ease;
}

.side-nav-headers {
  display: flex;
  flex: 1;
  align-self: center;
  justify-content: center;
  padding: 10px 10px;
}

#menu-button {
  display: flex;
  flex: 1 0 0;
  align-self: center;
  padding: 10px 10px;
  border: none;
}


.hidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0s linear 0.3s;
} 

.hidden.show {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease;
}


#menu-button img {
  height: 40px;
  width: 40px;
  cursor: pointer;
  background-color: transparent;
  filter: drop-shadow(var(--text-pop-not-subtle));
  transition: .3s;

}

#menu-button img:hover  {
  transition: .3s;
  transform: scale(1.2, 1.01);
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.418))
}


.side-nav-headers ul li {
  list-style: none;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.side-nav-headers a {
  text-decoration: none;
}

.social-icons-nav {
  display: flex;
  flex: 1 0 0;
  justify-content: flex-end;
  flex-direction: column;
  align-self: center;
  padding: 10px 10px;

}

.social-icons-nav img {
  height: 40px;
  width: 40px;
  cursor: pointer;
  background-color: transparent;
  filter: drop-shadow(var(--text-pop-not-subtle));
}

.social-icons-nav img:hover {
  transition: .2s;
  transform: translate(-.1rem, -.1rem);
  opacity: 75%;
}

.main-body {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.blocks {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  border-bottom: var(--borders);
}

.work {
  align-items: revert;
  text-shadow: var(--text-pop-subtle);
}

#work .content{
  justify-content: left;
  text-align: top;
  margin: 2rem;
}

.section-title {
  display: flex;
  flex-direction: column;
  padding-left: 3rem;
  padding-top: 3rem;
}

.content {
  display: flex;
  flex: 1 1 50%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: 0;
  gap: 2rem;
}

#about-me-content {
  justify-content: left;
  padding: 3rem;
  text-shadow: var(--text-pop-subtle);
}


#headshot {
  margin: 0;
  max-height: 350px;
  border-right: var(--borders);
}


.card {
  display: flex;
  flex-direction: column-reverse;
  border: var(--borders);
  box-shadow: var(--text-pop-subtle);
  text-shadow: var(--text-pop-subtle);
  transition: .4s;
}

.card-1 {
  flex: 2 0 100%;
}

.other-card {
  flex: 2 0 40%;
}

.card img {
  width: 100%;
  height: 100%;
  border-bottom: var(--borders);
}


.card h3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: .5rem;
  text-align: center;
  margin-bottom: .25rem;
}

.card:hover {
  transition: .5s;
  transform: translate(-.2rem, -.2rem);
  box-shadow: var(--text-pop-not-subtle);
}

.form-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20rem;
  background-color: var(--solid-color);
  
}

.form-box > * {
  text-align: center;
  color: var(--background-color);
  text-shadow: var(--text-pop-subtle);
  background-color: var(--solid-color);

}

.form-box label {
  color: var(--background-color);
  text-shadow: var(--text-pop-subtle);
  background-color: var(--solid-color);
}

.form-box h2, p {
  padding-bottom: 1rem;
  
}

.form-box button {
  align-items: center;
  margin-top: .5rem;
  padding: .2rem;
  border: none;
  border-style: none;
  border: 1px solid var(--borders);
  border-style: solid;
}

.form-box input {
  border: 1px solid var(--borders);
  border-style: solid;
}

.resume-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
}

.resume {
  padding: 3rem;
  display: flex;
  flex-direction: column;
}

.resume ul {
  padding-left: 3rem;
}

.resume p {
  font-weight: 400;
}

.resume li {
  font-weight: 300;
  margin-top: .5rem;
}

.job-title {
  display: flex;
  padding: 0;
}

.job-title p {
  margin-left: auto ;
  font-weight: 300;
}

.reachout-button {

}

.reachout-button:hover {
  transition: .2s;
  transform: translate(-.1rem, -.1rem);
  opacity: 75%;
}

.reachout-button:active {
  transition: .2s;
  transform: translate(.1rem, .1rem);
  opacity: 50%;
  color: white
}

@media screen and (max-width: 992px) {

  .header-container {
    padding-left: 2rem;
  }

  body {
    display: flex;
    flex-direction: column;
    margin-left: 0;
  }
  
  header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
  }

  .social-icons-nav, .side-nav {
    display: none;
  }


  .main-body {
    flex-direction: column;
  }

  .main-body #about-me {
    display: flex;
    flex-direction: row;
  }

  .blocks {
    display: flex;
    flex-direction: column;
  }

  .section-title {
    width: 100%;
    height: 5rem;
  }

  .other-card {
    flex: 2 0 100%;
  }


}

@media screen and (max-width: 768px) {
  .banner .text-box h1 {
    font-size: 2.5rem;
  }


  .nav-btn {
    padding: .1rem .5rem;
  }

  .header-container {
    padding-left: 1rem;
  }

  .main-body #about-me {
    display: flex;
    flex-direction: column;
    margin-top:2rem;
  }

  #headshot {
    border: var(--borders);
  }

  .banner .text-box p {
    font-size: 1.25rem;
  }


}

@media screen and (max-width: 450px) {
  .nav {
    display: none;
  }

  .banner .video-container iframe {
    display: none;
  }
}